body {
    background: linear-gradient(#fff, #b0b8d391);
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
body, input, label, select, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
p {
    font: normal 500 12px/14px arial;
    color: #777;
}

/*----------------------navbar---------------------------*/

.navbar {
    background: linear-gradient( #4f73b3, #2a4c91);
    padding: 2rem 12rem ;
    color: #fff;
    height: 75px;
}
.navbar .navbar-brand {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Tw Cen MT';
}

.avec-fb {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    width: 450px;
    word-spacing: -1px;
}
.form-control.email-input, .form-control.password-input {
    border: 1px solid #222;
    margin: 0;
    width: 142px;
    height: 25px;
    border-radius: 0;
    padding: 3px;
}
.email-label, .password-label {
    font-size: 12px;
    color: #ddd;
}
.connexion {
    background: #0463bd;
    border: 1px solid #777;
    color: #fff;
    height: 25px;
    font-weight: bold;
}
.connexion:hover {
    background: #0359aa;
}

/*-------------------inscription-------------------------*/
#inscription {
    margin-top: 40px;
    padding: 0rem 10rem ;

}
input .form-control {
    -webkit-appearance: none;
    border: 1px solid #ccd0d5;
    margin: 0;
    padding: 3px;
    font-size: 16px;
}
.h3_label{
    color: gray;
    font-size: 16px;
    font-weight: bold;
}
.custom-control-label{
    font: normal 500 16px/20px arial;
    color: #000;
}

select.custom-select {
    box-sizing: border-box;
    align-items: center;
    max-width: 80px;
    margin: 0;
    font: normal 400 13px arial;
    max-height: 40px;
    border-radius: 1px;

}
.help {
    border-radius: 100%;width: 16px;height: 16px;padding: 0px;font-weight: bold;font-size: 12px;
    margin-top: 0;;
}

.btn-success {
    min-width: 194px;
    text-align: center;
    padding: 5px 2px;
    background: linear-gradient(#67ae55, #578843);
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid  #30581c #2d5717 #2b5212;
    border-radius: 5px;
    color: whitesmoke;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size: 20px;
    font-weight: bold;
}
.btn-success:hover {
    background: linear-gradient(#67ad55, #649c4d);
}
#p1 {
    color: #777;
    font-size: 12px;
    width: 316px;
}
#p2 {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
p>a {
    color: #29487d;
    margin-right: 1rem;
}